<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <style>

    </style>
</head>

<body>

    <div class="container">
        <div class="inputTitle">
            <input type="text" name="title" placeholder="Title:-" id="">
        </div>
        <div class="inputSubtitle">
            <input type="text" name="subtitle" placeholder="Subtitle:-" id="">
        </div>
        <div class="inputDescription">
            <input type="text" name="Description" placeholder="Description:-" id="">
        </div>

    </div>
</body>

</html>